<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if (products.length > 0) { %>
            <% for(let product of products) { %>
                <div>
                    <h4><%= product.productId.title %></h4>
                    <img src="<%= product.productId.imageUrl %>" alt="<%= product.productId.title %>" width="300" height="300">
                    <div>$<%= product.productId.price %></div>
                    <div><%= product.productId.description %></div>
                    <div>quantity: <%= product.quantity %></div>
                    <form action="/remove-from-cart" method="POST">
                        <button type='submit'>remove item</button>
                        <input type="text" style="display: none;" name="productId" value="<%= product.productId._id %>">
                    </form>
                </div>
                <br>
            <% } %>
            <br>
            <div>total: $<%= totalPrice %></div>
        <% } else { %>
            <h2>Nothing added to the cart</h2>
        <% } %>
        <%- include('../includes/end.ejs') %>